flask
python-dotenv
openai
unstructured
pillow
python-magic
pypdf
tiktoken
chromadb
PyPDF2
docx2txt
pandas
xlrd
networkx
numpy
wrapt
pdfminer.six
pi-heif
unstructured_inference
typing-extensions
docx
