{% extends "base.html" %}

{% block title %}Wiki Pages - TheFulcrum's Chat{% endblock %}

{% block content %}
  <p>This page remains available, but you can also use the unified <strong>Knowledge</strong> section to manage Wiki pages.</p>
  {% if pages %}
    <ul>
      {% for page in pages %}
        <li class="wiki-item" style="border-left:none; padding-left:0; margin-bottom:15px;">
          <a href="/wiki/view/{{ page.id }}"><strong>{{ page.title }}</strong></a>
          {% if page.folder %}
            <em>[{{ page.folder }}]</em>
          {% endif %}
          <br>
          Last updated: {{ page.updated_at }}
          <a href="/wiki/edit/{{ page.id }}" class="btn">Edit</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No wiki pages found.</p>
  {% endif %}
{% endblock %}
